body{
font-family: Arial;
background: linear-gradient(90deg,#7b2ff7,#f107a3);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{
background:white;
padding:40px;
border-radius:10px;
text-align:center;
}

input{
width:300px;
padding:10px;
margin:10px;
}

button{
padding:10px 20px;
background:#3b82f6;
color:white;
border:none;
cursor:pointer;
}

video{
margin-top:20px;
width:300px;
}
